@charset "UTF-8";

@font-face {
    font-family:'Big Poppa' ;
    src: url('BigPoppaE-Regular.ttf') format('truetype');
}

:root{
    --color1:rgba(24, 24, 24);
    --color2:rgba(32, 32, 32);    
    --color3:rgb(80, 80, 80);
    --color4:rgba(255, 50, 0); /*HOVER*/
    --color5:rgb(31, 31, 31);  /*HOVER*/

    --font1:Arial, Helvetica, sans-serif;
}

*{
    font-family: var(--font1);
    margin: 0px;
    padding: 0px;
}

#header{
    position: fixed;
    width: 100vw;
    height: 70px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color2);
}

#btn-mobile{
    display: none;
}

#logo{
    font-size: 1.5rem;
    font-weight:bold;
    color: var(--color4);
}

#nav{
    padding-right: 1rem;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .2rem;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: var(--color5);
    color: var(--color4);
}

main{
    background-color: white;
    margin: auto;
}

section p{
    font-family: var(--fonte3);
    padding-top: 70px;
    font-size: 3.5vw;
    height: 100vh;
}

section.inicio{
    background-color: darkgray;
}

section.sobremim{
    background-color: white;
}

section.projetos{
    background-color: darkgray;
}

section.habilidades{
    background-color: white;
}
