@charset "UTF-8";

@font-face {
    font-family:'Big Poppa' ;
    src: url('BigPoppaE-Regular.ttf') format('truetype');
}

:root{
    --color1:rgba(24, 24, 24);
    --color2:rgba(29, 29, 29);
    --color3:rgba(255, 50, 0);
    --color4:rgb(80, 80, 80);

    --font1:Arial, Helvetica, sans-serif;
}

*{
    font-family: var(--font1);
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color1);
}

header h1{
    color: var(--color3);
    padding-top: 6px;
    text-align: center;
}

span{
    background-color: var(--color4);
    width: 100vw;
    color: white;
    text-align: left;
    padding-top: 1px;
    display: block;
    cursor: pointer;
}

.material-symbols-outlined{
    font-size: 35px;
    height: 40px;
    padding-top: 4px;
}

span:hover{
    background-color: white;
    color: var(--color3);
}

nav{
    display: none;
}

nav ul{    
    background-color: var(--color4);
    list-style-type: none;
}

nav a{
    display: block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    background-color: var(--color4);
    color: white;    
    border-top: 2px solid gray;
}

nav a:hover{
    background-color: gray;
    color: var(--color3);
}

main{
    width: 100vw;
    background-color: white;
    margin: auto;
}

section p{
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3.5vw;
    width: 100vw;
    height: 100vh;
}

section.inicio{
    background-color: darkgray;
}

section.sobremim{
    background-color: white;
}

section.projetos{
    background-color: darkgray;
}

section.habilidades{
    background-color: white;
}